body{
    /* background-color: grey; */
}


.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left-item{
    display: flex;
    justify-content: space-around;
    width: 40%;
    align-items: center;
}

.right-item{
    width: 32%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.right-item img{
    /* width: 30px; */
}
.avtar{
    margin-left:30px;
}
.hr-line{
    width: 85%;
}
.product-container{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
/* .images{
    width: 50%;
} */
.preview-image{
    width: 600px;
}

.preview-image img{
    object-fit: contain;
    border-radius: 5px;
}
.sub-images img{

    width: 23%;
    border-radius: 5px;
}
.sub-images{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
.sub-images img:first-child{
    border: 2px solid orange;
    opacity: 0.4;
}
.product-description{
    padding: 10%;
}
#title{
    text-transform: uppercase;
    font-weight: 400;
    color: orange;
}
.heading{
    font-size: 26px;
}
.product-info{
    font-size: 15px;
    color: grey;
}
.price-section{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.current-price{
    display: flex;
    justify-content: space-between;
}
.previous-price{
    margin-top: 4%;
    text-decoration: line-through;
    color: darkgrey;
}

button{
    height: 45px;
    width: 100px;
    border-radius: 4px;
}
.add-product-button{
    background-color: orange;
    color: white;
}


/* @media only screen and(max-width:600px){ */

@media (max-width:600px){

    body{
        background-color: lightblue;
    }

.product-container{
    flex-direction: column;
}
.preview-image{
    width: 95%;
}
.sub-images{
    width: 95%;
}
.action-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;  
}
.action-buttons button{
    width: 90%;
}
.left-item p{
  display: none;
}
}